---
name: CI & Release

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
    inputs:
      release:
        description: Release new version to npm
        required: true
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lint & Build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
      - run: npm clean-install
      - run: npm run lint --if-present
      - run: npm run build

  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    needs: [build]
    # Run on push to main OR manual trigger with release checked
    if: github.ref == 'refs/heads/main' || github.event.inputs.release == 'true'
    runs-on: ubuntu-latest
    name: Release
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
      - run: npm clean-install
      - run: npm run build
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
